* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 23rem;
}
body {
    line-height: 1.5rem;
}

#header {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

#header-img {
    margin-top: -2rem;
    width: 15rem;
    height: 15rem;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    place-items: center;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: 500;
    padding: 0.4rem;
}

#nav-bar a:hover {
    background-color: black;
    color: white;
}
hr {
    border: 2px solid rgba(12, 11, 11, 0.4);
}

.main-content {
    padding-top: 25rem;
}

#home {
    display: flex;
    flex-direction: column;
    place-items: center;
    /* background-color: white; */
}

#home h1 {
    padding:0 2rem 2rem 2rem;
    font-family: Tahoma;
    font-size: 24px;
}

#form {
    display: flex;
    flex-direction: column;
}

#email {
    padding: 1rem;
}

#submit {
    margin-top: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: large;
}

.details {
    margin: 2rem;
    display: flex;
}

.each-details p {
    margin:-1rem 0 0 2rem;
}

#blog {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blog iframe {
    width: 700px;
    height: 30rem;
    padding: 2rem 2rem;
}

@media (min-width:1000px) {
    html {
        scroll-padding-top: 10rem;
    }
    #header {
        flex-direction: row;
        /* background-color: blue; */
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
    }

    #header-img {
        margin-top: 1rem;
        width: 5rem;
        height: 5rem;
    }

    #nav-bar {
        flex-direction: row;
        margin-right: 4rem;
        align-items: center;
    }

    .nav-link {
        margin: 0 4rem;
    }

    .main-content {
        padding-top: 10rem;
    }
}

@media (max-width:540px) {
    #home h1 {
        /* color: pink; */
        text-align: center;
    }
}



